<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolt.new</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="https://x.com/boltdotnew">X</a>
        <a href="https://www.linkedin.com/company/stackblitz">LinkedIn</a>
        <a href="https://discord.com/invite/stackblitz">Discord</a>
        <a href="https://www.reddit.com/r/boltnewbuilders/">Reddit</a>
        <a href="/sign-in">Sign In</a>
        <a href="/get-started">Get Started</a>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <a href="https://stackblitz.com/careers?__hstc=69929231.4d899da1400703d2366cd5b2ebc3b14b.1749001666459.1749001666459.1749001666459.1&__hssc=69929231.1.1749001666459&__hsfp=4041123740">We're hiring</a>
        <a href="https://support.bolt.new">Help Center</a>
        <a href="/pricing">Pricing</a>
        <a href="https://bolt.new/blog">Blog</a>
        <a href="https://stackblitz.com/terms-of-service?__hstc=69929231.4d899da1400703d2366cd5b2ebc3b14b.1749001666459.1749001666459.1749001666459.1&__hssc=69929231.1.1749001666459&__hsfp=4041123740">Terms</a>
        <a href="https://stackblitz.com/privacy-policy?__hstc=69929231.4d899da1400703d2366cd5b2ebc3b14b.1749001666459.1749001666459.1749001666459.1&__hssc=69929231.1.1749001666459&__hsfp=4041123740">Privacy</a>
        <a href="https://stackblitz.com/?__hstc=69929231.4d899da1400703d2366cd5b2ebc3b14b.1749001666459.1749001666459.1749001666459.1&__hssc=69929231.1.1749001666459&__hsfp=4041123740">Stackblitz</a>
    </footer>
</body>
</html>
